---
import { Image, getImage } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CardGrid from '../components/CardGrid.jsx';
// Backgrounds
import firstSectionBg from '../assets/bg-pattern-about-1-mobile-nav-1.svg';
import secondSectionTopBg from '../assets/bg-pattern-about-2-contact-1.svg';
import secondSectionBottomBg from '../assets/bg-pattern-home-4-about-3.svg';
import thirdSectionBg from '../assets/bg-pattern-about-4.svg';
// Client brands
import theVergeLogo from '../assets/logo-the-verge.png';
import theJakartaPostLogo from '../assets/logo-jakarta-post.png';
import theGuardianLogo from '../assets/logo-the-guardian.png';
import techRadarLogo from '../assets/logo-tech-radar.png';
import gadgetsNowLogo from '../assets/logo-gadgets-now.png';
// Avatars
import nikita from '../assets/avatar-nikita.jpg';
import cristian from '../assets/avatar-christian.jpg';
import cruz from '../assets/avatar-cruz.jpg';
import drake from '../assets/avatar-drake.jpg';
import griffin from '../assets/avatar-griffin.jpg';
import aden from '../assets/avatar-aden.jpg';
// 
const aboutIntroBgImg = await getImage({ src: firstSectionBg, format: 'webp' });
const aboutDirectorsTopBgImg = await getImage({ src: secondSectionTopBg, format: 'webp' });
const aboutDirectorsBottomBgImg = await getImage({ src: secondSectionBottomBg, format: 'webp' });
const aboutFeaturedBgImg = await getImage({ src: thirdSectionBg, format: 'webp' });
---

<Layout title="About">
  <main class="container">
    <Header links={[{label: 'home', url: ''}, {label: 'about', url: 'about'}, {label: 'contact us', url: 'contact'}]} />

    <div class="about">
      <section class="about__intro" style={`background-image: url(${aboutIntroBgImg.src})`}>
        <h2 class="intro__heading">About</h2>

        <div class="intro__wrapper">
          <div class="intro__border"></div>
          <p class="intro__text">We help companies build dynamic teams made up of top global talent. Using our network of passionate professionals we drive innovation and deliver incredible outcomes. Talented, diverse teams shape the best products and experiences. We’ll bring those teams to you.</p>
        </div>
      </section>

      <section class="about__directors" style={`background-image: url(${aboutDirectorsTopBgImg.src}), url(${aboutDirectorsBottomBgImg.src})`}>
        <h2 class="directors__heading">Meet the directors</h2>
        
        <CardGrid
          client:only="react"
          items={[
            {
              name: 'Nikita Marks',
              title: 'Founder & CEO',
              avatar: nikita.src,
              quote: '“It always amazes me how much talent there is in every corner of the globe.”',
            },
            {
              name: 'Cristian Duncan',
              title: 'Co-founder & COO',
              avatar: cristian.src,
              quote: '“Distributed teams required unique processes. You need to approach work in a new way.”'
            },
            {
              name: 'Cruz Hamer',
              title: 'Co-founder & CTO',
              avatar: cruz.src,
              quote: '“Technology is at the forefront of enabling distributed teams. That\'s where we come in.”'
            },
            {
              name: 'Drake Heaton',
              title: 'Business Development Lead',
              avatar: drake.src,
              quote: '“Hiring similar people from similar backgrounds is a surefire way to stunt innovation.”'
            },
            {
              name: 'Griffin Wise',
              title: 'Lead Marketing',
              avatar: griffin.src,
              quote: '“Unique perspectives shape unique products, which is what you need to survive these days.”'
            },
            {
              name: 'Aden Allan',
              title: 'Head of Talent',
              avatar: aden.src,
              quote: '“Empowered teams create truly amazing products. Set the north star and let them follow it.”'
            }
          ]}
        />
      </section>

      <section class="about__featured" style={`background-image: url(${aboutFeaturedBgImg.src})`}>
        <h2 class="featured__heading">Some of our clients</h2>

        <ul class="featured__logos">
          <li>
            <Image class="featured__logo" src={theVergeLogo} alt="the verge's logo" />
          </li>
          <li>
            <Image class="featured__logo" src={theJakartaPostLogo} alt="the jakarta post's logo" />
          </li>
          <li>
            <Image class="featured__logo" src={theGuardianLogo} alt="the guardian's logo" />
          </li>
          <li>
            <Image class="featured__logo" src={techRadarLogo} alt="tech radar's logo" />
          </li>
          <li>
            <Image class="featured__logo" src={gadgetsNowLogo} alt="gadgets now's logo" />
          </li>
        </ul>
      </section>
    </div>

    <Footer links={[{label: 'home', url: ''}, {label: 'about', url: 'about'}]} includeContact />
  </main>
</Layout>

<style>
  .about {
    flex: 1;
  }
  
  .about__intro, .about__directors, .about__featured {
    background-repeat: no-repeat;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about__intro {
    background-position: bottom -50% right -58%;
    padding: 10px 30px 110px;
  }
  
  .intro__heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 40px 0;
  }
  
  .intro__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .intro__border {
    display: none;
  }
  
  .intro__text {
    font-size: 0.938rem;
    font-weight: 600;
    line-height: 25px;
  }
  
  .about__directors {
    background-color: var(--deep-jungle-green);
    background-position: top -6% left -60%, bottom right;
    background-repeat: no-repeat, no-repeat;
    padding: 50px 25px;
  }
  
  .directors__heading {
    font-size: 2rem;
    margin: 40px 0 0;
  }
  
  .featured__heading {
    font-size: 2rem;
    font-weight: 700;
    margin: 40px 0;
  }
  
  .about__featured {
    background-color: var(--sacramento-state-green);
    background-position: top -90px left -110px;
    padding: 50px 0 40px;
  }
  
  .featured__logos {
    display: flex;
    flex-direction: column;
  }
  
  .featured__logo {
    width: auto;
    height: 24px;
    margin: 20px 0;
  }
  
  li:last-child > .featured__logo {
    width: 87px;
    height: 40px;
  }
  
  @media (--md-viewport) {
    .about__intro {
      background-position: bottom -8% right -18%;
      padding: 10px 180px 110px;
    }
    
    .intro__heading {
      font-size: 4rem;
    }
    
    .about__directors {
      background-position: top left -18%, bottom right;
      padding: 80px 0 60px;
    }
    
    .directors__heading {
      margin-bottom: 40px;
    }
    
    .about__featured {
      background-position: top -200% left 0%;
    }
    
    .featured__logos {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    .featured__logo {
      width: auto;
      height: 17px;
      margin: 0 20px;
    }
  }
  
  @media (--xl-viewport) {
    .about__intro {
      flex-direction: row;
      background-position: bottom right -100px;
    }
    
    .intro__heading, .intro__wrapper {
      width: 50%;
    }
    
    .intro__wrapper {
      padding: 40px 40px 0;
    }
    
    .intro__heading {
      font-size: 4rem;
    }
    
    .intro__border {
      display: block;
      width: 50px;
      height: 4px;
      background-color: var(--light-coral);
      margin-bottom: 40px;
    }
    
    .intro__text {
      text-align: left;
    }
    
    .about__directors {
      background-position: top left -8%, bottom right;
    }
    
    .directors__heading, .featured__heading {
      font-size: 3rem;
    }
    
    .about__featured {
      background-size: 12%;
      background-position: top left;
      padding: 50px 0 90px;
    }
    
    .featured__logos {
      margin-top: 20px;
    }
    
    .featured__logo {
      width: auto;
      margin: 0 40px;
    }
  }
</style>
