---
import { getImage, Image } from 'astro:assets';
// Components
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Review from '../components/Review.astro';
// Optimized Background images
import secondSectionBgImg from '../assets/bg-pattern-home-3.svg';
import thirdSectionTopBgImg from '../assets/bg-pattern-home-4-about-3.svg';
import thirdSectionBottomBgImg from '../assets/bg-pattern-home-5.svg';
// Icons
import iconPerson from '../assets/icon-person.svg';
import iconCog from '../assets/icon-cog.svg';
import iconChart from '../assets/icon-chart.svg';
// Backgrounds
const highlightsBgImg = await getImage({ src: secondSectionBgImg, format: 'webp' });
const reviewsTopBgImg = await getImage({ src: thirdSectionTopBgImg, format: 'webp' });
const reviewsBottomBgImg = await getImage({ src: thirdSectionBottomBgImg, format: 'webp' });

---

<Layout title="Homepage">
  <main class="container">
    <Header links={[{label: 'home', url: ''}, {label: 'about', url: 'about'}, {label: 'contact us', url: 'contact'}]} />

    <div class="home">
      <section class="home__intro">
        <h2 class="intro__heading">Find the best <span class="intro__heading--highlighted">talent</span></h2>

        <div class="intro__wrapper">
          <div class="intro__border"></div>
          <p class="intro__text">Finding the right people and building high performing teams can be hard. Most companies aren’t tapping into the abundance of global talent. We’re about to change that.</p>
        </div>
      </section>

      <section class="home__highlights" style={`background-image: url(${highlightsBgImg.src})`}>
        <div class="highlights__wrapper">
          <div class="highlights__border"></div>
          <h2 class="highlights__heading">Build & manage distributed teams like no one else.</h2>
        </div>

        <ul class="highlights__container">
          <li class="highlights__highlight">
            <Image class="highlight__icon" src={iconPerson} alt="highlight person icon" width="72" height="72" loading="lazy" />

            <div class="highlight__container">
              <h3 class="highlight__heading highlight__heading--bolded">Experienced Individuals</h3>
              <p class="highlight__text">Our network is made up of highly experienced professionals who are passionate about what they do.</p>
            </div>
          </li>

          <li class="highlights__highlight">
            <Image class="highlight__icon" src={iconCog} alt="highlight cog icon" width="72" height="72" loading="lazy" />

            <div class="highlight__container">
              <h3 class="highlight__heading highlight__heading--bolded">Easy to Implement</h3>
              <p class="highlight__text">Our processes have been refined over years of implementation meaning our teams always deliver.</p>
            </div>
          </li>

          <li class="highlights__highlight">
            <Image class="highlight__icon" src={iconChart} alt="highlight chart icon" width="72" height="72" loading="lazy" />

            <div class="highlight__container">
              <h3 class="highlight__heading highlight__heading--bolded">Enhanced Productivity</h3>
              <p class="highlight__text">Our customized platform with in-built analytics helps you manage your distributed teams.</p>
            </div>
          </li>
        </ul>
      </section>

      <section class="home__reviews" style={`background-image: url(${reviewsTopBgImg.src}), url(${reviewsBottomBgImg.src})`}>
        <h2 class="reviews__heading">Delivering real results for top companies. Some of our <span class="reviews__heading--highlighted">success stories.</span></h2>

        <ul class="reviews__container">
          <li>
            <Review
              author="Kady Baker" 
              title="Product Manager at Bookmark" 
              avatar="kady"  
              text="The team perfectly fit the specialized skill set required. They focused on the most essential features helping us launch the platform eight months faster than planned."
            />
          </li>
          <li>
            <Review
              author="Aiysha Reese"
              title="Founder of Manage"
              avatar="aiysha"
              text="We needed to automate our entire onboarding process. The team came in and built out the whole journey. Since going live, user retention has gone through the roof!"
            />
          </li>
          <li>
            <Review
              author="Arthur Clarke"
              title="Co-founder of MyPhysio"
              avatar="arthur"
              text="Amazing. Our team helped us build an app that delivered a new experience for hiring a physio. The launch was an instant success with 100k downloads in the first month."
            />
          </li>
        </ul>
      </section>
    </div>

    <Footer links={[{label: 'home', url: ''}, {label: 'about', url: 'about'}]} includeContact />
  </main>
</Layout>

<style>
  .home {
    flex: 1;
  }
  
  .home__intro {
    background-image: url('../assets/bg-pattern-home-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-align: center;
    padding: 0 20px 200px;
  }
  
  .intro__border {
    display: none;
  }
  
  .intro__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .intro__text {
    font-size: 0.9375rem; /* 15px */
    font-weight: 600;
    line-height: 1.5625rem;
  }
  
  .intro__heading, .highlights__heading, .reviews__heading {
    color: var(--white);
    font-weight: 700;
  }
  
  .intro__heading {
    font-size: 2.5rem;
    margin: 40px 60px 20px;
  }
  
  .highlights__wrapper {
    padding: 65px 110px 40px 30px;
  }
  
  .highlights__border {
    width: 50px;
    height: 4px;
    background-color: var(--light-coral);
  }
  
  .highlights__heading, .reviews__heading {
    font-size: 2rem;
  }
  
  .highlights__heading {
    margin: 40px 0 0;
    text-align: left;
  }
  
  .intro__heading--highlighted {
    color: var(--light-coral);
  }
  
  .home__highlights {
    background-color: var(--sacramento-state-green);
    background-size: 185px; /* 50% */
    background-repeat: no-repeat;
    background-position: top right -90px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
  
  .highlights__highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 25px;
  }
  
  .highlights__highlight:not(:first-child), .highlights__highlight:not(:last-child) {
    margin: 40px 0;
  }
  
  .highlight__icon {
    margin-bottom: 10px;
  }
  
  .highlight__heading {
    font-size: 1.125rem;
    color: var(--light-coral);
    margin-bottom: 20px;
  }
  
  .highlight__heading--bolded {
    font-weight: 700;
  }
  
  .highlight__text {
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 25px;
    color: var(--white);
  }
  
  .home__reviews {
    background-color: var(--deep-jungle-green);
    background-position: top left, bottom 25px right;
    background-repeat: no-repeat, no-repeat;
    padding: 140px 0;
    margin: -26px 0;
  }
  
  .reviews__container {
    display: flex;
    flex-direction: column;
  }
  
  .reviews__heading {
    padding: 0 30px;
    text-align: center;
  }
  
  .reviews__heading--highlighted {
    color: var(--rapture-blue);
  }
  
  @media (--md-viewport) {
    .home__intro {
      background-size: 45%;
      padding: 0 170px 250px;
    }
    
    .intro__heading {
      font-size: 4rem;
      padding: 0 40px;
    }
    
    .home__highlights {
      background-size: 25%;
      background-position: top right -18%;
      padding-bottom: 75px;
    }
    
    .highlights__wrapper {
      padding: 120px 200px 20px 80px;
    }
    
    .highlights__container {
      padding: 0 70px;
    }
    
    .highlights__highlight { 
      display: flex;
      flex-direction: row;
      justify-content: start;
      text-align: left;
      padding: 5px 75px 5px 0;
    }
    
    .highlights__highlight:first-child {
      padding-left: 5px;
    }
    
    .highlight__container {
      padding: 0 25px;
    }
    
    .highlight__heading {
      margin-bottom: 20px;
    }
    
    .highlight__icon {
      margin-bottom: 0;
    }
    
    .home__reviews {
      background-position: top left, bottom 2.5% right;
      padding: 120px 75px 80px;
    }
    
    .reviews__heading {
      padding: 0 65px;
    }
  }
  
  @media (--xl-viewport) {
    .home__intro {
      flex-direction: row;
      text-align: left;
      background-image: url('../assets/bg-pattern-home-1.svg'), url('../assets/bg-pattern-home-2.svg');
      background-size: 200px, 25%;
      background-position: top 80px left -110px, bottom right 18%;
      padding: 20px 105px 180px;
    }
    
    .intro__heading {
      font-size: 6.25rem;
      padding: 0 0 0 40px;
      width: 50%;
    }
    
    .intro__wrapper {
      width: 50%;
      height: 200px;
      padding: 0 85px;
    }
    
    .intro__border {
      display: block;
      width: 50px;
      height: 4px;
      background-color: var(--rapture-blue);
    }
    
    .intro__text {
      font-size: 1.125rem;
    }
    
    .home__highlights {
      flex-direction: row;
      padding: 120px 20px;
      background-size: 15%;
      background-position: bottom right -13%;
    }
    
    .highlights__wrapper {
      width: 50%;
      padding: 40px 120px;
    }
    
    .highlights__border {
      margin-bottom: 60px;
    }
    
    .highlights__container {
      padding-top: 65px;
      padding-right: 135px;
      width: 50%;
    }
    
    .highlights__heading, .reviews__heading {
      font-size: 3rem;
    }
    
    .highlights__highlight {
      margin: 10px 0;
      padding: 0;
    }
    
    .home__reviews {
      background-size: 12%;
      background-position: top left -5%, bottom 3% right -3%;
      padding: 110px 125px;
    }
    
    .reviews__container {
      margin-top: 20px;
      flex-direction: row;
    }
    
    .reviews__heading {
      padding: 0 120px;
    }
  }
</style>
