---
import { getImage, Image } from 'astro:assets';

import { LinkButton } from './Button';

import siteLogo from '../assets/logo.svg';
import contactUsBgSvg from '../assets/bg-pattern-home-6-about-5.svg';

import facebookIcon from '../assets/icon-facebook.svg';
import pinterestIcon from '../assets/icon-pinterest.svg';
import twitterIcon from '../assets/icon-twitter.svg';

const { links, includeContact } = Astro.props;
const baseURL = import.meta.env.BASE_URL;

const contactUsBgImg = await getImage({ src: contactUsBgSvg, format: 'webp' });

---

<footer class="footer">
  { includeContact ?
    <section class="footer__contact" style={`background-image: url(${contactUsBgImg.src});`}>
      <h2 class="contact__heading">Ready to get started?</h2>

      <LinkButton isDark url={`${baseURL}contact`} customStyle={{ width: '153px', padding: '12px 0' }}>contact us</LinkButton>
    </section> : null
  }
  <section class="footer__bottom">
    <div class="bottom__left">
      <div class="bottom__header">
        <Image class="bottom__logo" src={siteLogo} alt="main site footer logo" loading="lazy" />

        <nav class="bottom__nav">
          <ol class="nav__list">
            {links.map(({url, label}) => <li class="nav__link"><a href={`${baseURL}${url}`}>{label}</a></li>)}
          </ol>
        </nav>
      </div>

      <div class="bottom__address">
        <p>987 Hillcrest Lane</p>
        <p>Irvine, CA</p>
        <p>California 92714</p>
        <p>Call us : 949-833-7432</p>
      </div>
    </div>

    <div class="bottom__content">
      <ul class="bottom__socials">
        <li class="socials__icon">
          <Image src={facebookIcon} alt="facebook icon in footer" />
        </li>
        <li class="socials__icon">
          <Image src={pinterestIcon} alt="pinterest icon in footer" />
        </li>
        <li class="socials__icon">
          <Image src={twitterIcon} alt="twitter icon in footer" />
        </li>
      </ul>

      <p class="bottom__copyright">Copyright 2020. All Rights Reserved.</p>
    </div>
  </section>
</footer>
<style>
  .footer {
    width: 100%;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: var(--light-coral);
    background-position: bottom -20px left;
    padding: 46px 60px 86px;
    color: var(--sacramento-state-green);
  }
  
  .footer__bottom {
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    font-size: 0.9375rem;
    font-weight: 600;
    padding: 40px 25px 20px;
  }
  
  .contact__heading {
    font-size: 2rem;
    margin: 40px 0 20px;
  }
  
  .bottom__logo {
    width: 96px;
    height: 24px;
  }
  
  .bottom__left, .bottom__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .bottom__address {
    text-align: center;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 5px;
  }
  
  .bottom__nav {
    margin: 25px 0;
  }
  
  .bottom__socials {
    display: flex;
    align-items: center;
    margin: 25px 0;
  }
  
  .nav__list, .bottom__socials {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 104px;
  }
  
  .socials__icon:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(75%) sepia(91%) saturate(2704%) hue-rotate(309deg) brightness(100%) contrast(94%); 
  }
  
  .nav__link:hover {
    color: var(--light-coral);
  }
  
  @media (--md-viewport) {
    .footer__bottom {
      padding: 30px 70px;
    }
    
    .footer__contact {
      background-size: 225px;
      flex-direction: row;
      justify-content: space-between;
      padding: 60px 110px;
    }
    
    .bottom__left, .bottom__content {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .bottom__address, .bottom__copyright {
      text-align: right;
    }
  }
  
  @media (--xl-viewport) {
    .footer__bottom {
      padding: 30px 120px;
      flex-direction: row;
    }
    
    .footer__contact {
      padding: 60px 250px;
      background-size: 250px;
      background-position: bottom -10% left;
    }
    
    .contact__heading {
      font-size: 3rem;
    }
    
    .nav__link:first-child {
      margin-right: 40px;
    }
    
    .bottom__left, .bottom__content {
      padding: 10px 0;
      justify-content: space-around;
    }
    
    .bottom__address {
      text-align: left;
    }
    
    .bottom__content {
      flex-direction: column;
      align-items: end;
      padding-right: 60px;
    }
    
    .bottom__socials {
      margin: 0 0 45px;
    }
    
    .bottom__logo {
      width: 160px;
      height: 40px;
    }
  }
</style>
