---
import { Image } from 'astro:assets';

import { LinkButton } from './Button';

import logo from '../assets/logo.svg';
import Sidebar from './Sidebar.astro';

const { links } = Astro.props;
const baseURL = import.meta.env.BASE_URL;

---
<header class="header">
  <Image class="header__logo" src={logo} alt="main site logo" loading="eager" />

  <nav class="header__nav">
    <ol class="nav__list">
      {links.map(({url, label}) => (url === 'contact' ? (<li class="nav__link"><LinkButton url={`${baseURL}${url}`}>{label}</LinkButton></li>) : (<li class="nav__link"><a href={`${baseURL}${url}`}>{label}</a></li>)))}
    </ol>
  </nav>

  <Sidebar links={links} />
</header>
<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 35px;
    z-index: 1;
  }
  
  .header__logo {
    width: 128px;
    height: 32px;
  }
  
  .header__nav {
    display: none;
  }
  
  .nav__list {
    list-style-type: none;
  }
  
  .nav__link {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .nav__link:hover {
    color: var(--light-coral);
  }
  
  @media (--md-viewport) {
    .header {
      padding: 60px 40px;
    }
    
    .header__nav {
      display: block;
      margin-left: 20px;
      width: 100%;
    }
    
    .nav__list {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .nav__link {
      margin: 0 25px;
    }
    
    .nav__list > .nav__link:last-child {
      margin-left: auto;
    }
  }
  
  @media (--lg-viewport) {
    .header {
      padding: 60px 150px;
    }
  }
  
  @media (--xl-viewport) {
    .header__logo {
      width: 160px;
      height: 40px;
    }
  }
</style>
